<!DOCTYPE html>
<html lang="zh-Hant">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %}{{ page.title }}｜{{ site.title }}{% else %}{{ site.title }} {{ site.description }}{% endif %}</title>
<meta name="description" content="{{ site.description }}">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body class="{{ page.body_class }}">

<div class="contours" aria-hidden="true">
  <svg class="tl" viewBox="0 0 460 420" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <path id="ridge" d="M -60 214 C 30 206, 58 158, 80 112 C 100 70, 140 36, 182 52 C 220 66, 228 118, 208 168 C 188 218, 138 272, 114 330 C 96 374, 88 404, 88 460"/>
    </defs>
    <g class="dash">
      <use href="#ridge" transform="translate(-54,-60)"/>
      <use href="#ridge" transform="translate(-36,-40)"/>
      <use href="#ridge" transform="translate(-18,-20)"/>
      <use href="#ridge"/>
      <use href="#ridge" transform="translate(20,22)"/>
      <use href="#ridge" transform="translate(42,46)"/>
      <use href="#ridge" transform="translate(66,72)"/>
    </g>
  </svg>

  <svg class="br" viewBox="0 0 460 420" xmlns="http://www.w3.org/2000/svg">
    <g transform="rotate(180 230 210)">
      <g class="dash">
        <use href="#ridge" transform="translate(-54,-60)"/>
        <use href="#ridge" transform="translate(-36,-40)"/>
        <use href="#ridge" transform="translate(-18,-20)"/>
        <use href="#ridge" transform="translate(20,22)"/>
        <use href="#ridge" transform="translate(42,46)"/>
        <use href="#ridge" transform="translate(66,72)"/>
      </g>
      <use class="solid" href="#ridge"/>
    </g>
  </svg>
</div>

<div class="topbar">
  <div class="wrap">
    <nav class="topnav">
      <a href="{{ site.baseurl }}/">Field-Box</a>
      <a href="{{ site.baseurl }}/qgis/">QGIS 課程</a>
      <a href="{{ site.baseurl }}/#about">關於</a>
    </nav>
  </div>
</div>

{{ content }}

<footer id="about">
  <div class="wrap">
    <strong>關於 Field-Box</strong>
    <p class="about-text">
      Field-Box是純網頁工具，免安裝與下載，所有資料只會留在自己的電腦或手機上。
    </p>
    <p class="about-contact">
      使用上遇到Bug或其他問題可直接寄信給我：<a href="mailto:a.wen90@gmail.com">a.wen90@gmail.com</a>
    </p>
  </div>
</footer>

</body>
</html>
